.btn{
    font-size: 1.5rem;
    color:#111;
    background:#08fc76 ;
    width:5%;
    height: 5vh;
    border-radius: 20px;
    outline: none;
    border: none;
    align-items: center;
    cursor: pointer;
}
.button{
    display: flex;
    padding: 10px;
    display: flex;
    align-items: center;
}